<div class="page-header">
  <h1>Edit Small Category</h1>
</div>
<%= bootstrap_form_for @small_category, :url => { :action => "update" } do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
<% end %>