<ol class="breadcrumb">
  <li class="active"><%= link_to big_category_name(params[:big_category_id]), big_path(params[:big_category_id]) %></li>
  <li class="active"><%= small_category_name(params[:small_category_id]) %></li>
</ol>

<table class="table">
  <% @sites.each do |site| %>
  <tr>
    <td><%= link_to site.name, site.url %></td>
  </tr>
  <% end %>
</table>
<%= will_paginate @sites, renderer: BootstrapPagination::Rails %>
